<!DOCTYPE html>
<html>
<head>
    <title>Home Page</title>
    <link rel="stylesheet" href="/styles/styles.css">
    </head>
    <body>
    <nav>
        <a href="/">Home</a>
        <a href="/services"> Services</a>
        <a href="/contact">Contact </a>
    </nav>
    <div class="container">
        <h1>Welcome to Our Home Page</h1>
        <p>We are here to serve you better. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla ac lectus felis.</p>
        <img src="https://blog.hubspot.com/hubfs/homepage-web-design.jpg" alt="Home Image">
</body>
</html>
