<!DOCTYPE html>
<html>
<head>
    <title>Our Services</title>
    <link rel="stylesheet" href="/styles/styles.css">
    </head>
    <body>
    <nav>
        <a href="/">Home</a>
        <a href="/services"> Services</a>
        <a href="/contact">Contact </a>
    </nav>
    <div class="container">
        <h1> Services</h1>
        <p>The Services</p>
        <img src="https://www.cinderellaeco.com/images/articles/1569578029033_service_support.jpg" alt="Services Image">
        </div>
</body>
</html>
